In [31]:
from bertopic import BERTopic
import pandas as pd
from pathlib import Path

repo_path = Path('/home/krajda/anticipatio/')

topic_model = BERTopic.load(repo_path / 'models/pca10_kmeans200_cv.pkl')
tweets = pd.read_pickle(repo_path / 'data/final.pkl')
docs = tweets['txt'].tolist()

In [3]:
import itertools
import pandas as pd
from pathlib import Path

def open_fn(f):
    try:
        return pd.read_csv(f,engine='python')
    except:
        return pd.DataFrame()
    
files1 = Path(repo_path / 'data/futurists_kol/data').rglob('*csv')
files2 = Path(repo_path / 'data/futurists_rossdawson/data').rglob('*csv')
files = itertools.chain(files1,files2)
tweets = map(open_fn, files)
tweets = pd.concat(tweets)

tweets.columns = ['index','user','timestamp','url','txt']
tweets.reset_index(drop=True,inplace=True)
tweets['txt'] = tweets['txt'].astype(str)
tweets['user']=tweets['user'].str.replace('@','').str.strip().str.lower()
tweets['timestamp'] = pd.to_datetime(tweets['timestamp'])
tweets.drop(columns='index', inplace=True)
tweets.drop_duplicates(inplace=True,subset=['timestamp','txt'])
tweets.reset_index(inplace=True,drop=True)
print('Unique users:{}\nUnique texts:{}'.format(tweets['user'].nunique(),tweets['txt'].nunique()))
maciek_docs = tweets['txt']
print('Unique posts (timestamp+text): {}'.format(len(maciek_docs)))

Unique users:400
Unique texts:1200003
Unique posts (timestamp+text): 1458018

In [24]:
print('Unique posts (timestamp+text): {}'.format(len(maciek_docs)))

Unique posts (timestamp+text): 1458018

In [23]:
maciek_labels = pd.read_csv(repo_path / 'data/topic_labels.csv', header=None)

maciek_labels = maciek_labels[1][1:].tolist()
maciek_labels

[50,
 50,
 27,
 46,
 6,
 69,
 40,
 89,
 27,
 69,
 24,
 49,
 31,
 62,
 51,
 48,
 65,
 90,
 20,
 90,
 32,
 6,
 76,
 9,
 0,
 59,
 80,
 98,
 26,
 80,
 55,
 60,
 57,
 44,
 0,
 7,
 74,
 93,
 25,
 13,
 7,
 43,
 33,
 9,
 52,
 41,
 51,
 69,
 89,
 98,
 59,
 83,
 12,
 56,
 18,
 87,
 5,
 19,
 47,
 11,
 87,
 53,
 40,
 43,
 45,
 87,
 52,
 97,
 25,
 18,
 27,
 65,
 69,
 66,
 13,
 0,
 10,
 69,
 13,
 65,
 78,
 85,
 59,
 53,
 70,
 68,
 91,
 37,
 64,
 65,
 18,
 79,
 56,
 2,
 82,
 40,
 88,
 91,
 34,
 20,
 28,
 36,
 97,
 73,
 52,
 51,
 0,
 74,
 65,
 55,
 7,
 6,
 16,
 50,
 0,
 48,
 83,
 93,
 92,
 47,
 12,
 16,
 23,
 16,
 28,
 72,
 97,
 65,
 35,
 94,
 75,
 65,
 93,
 46,
 87,
 45,
 53,
 15,
 59,
 37,
 0,
 94,
 24,
 55,
 45,
 94,
 11,
 28,
 40,
 5,
 76,
 15,
 63,
 56,
 43,
 97,
 8,
 19,
 69,
 94,
 11,
 35,
 54,
 5,
 23,
 95,
 88,
 24,
 40,
 49,
 31,
 64,
 21,
 70,
 8,
 0,
 52,
 85,
 67,
 72,
 3,
 95,
 26,
 88,
 84,
 88,
 69,
 7,
 84,
 67,
 56,
 10,
 25,
 89,
 92,
 10,
 83,
 8,
 42,
 18,
 59,
 17,
 83,
 13,
 24,
 68,
 53,
 44,
 16,
 24,
 44,
 23,
 0,
 36,
 72,
 90,
 33,
 25,
 60,
 69,
 88,
 40,
 80,
 76,
 5,
 97,
 45,
 5,
 64,
 36,
 49,
 33,
 25,
 51,
 60,
 72,
 73,
 89,
 55,
 20,
 36,
 40,
 92,
 20,
 2,
 44,
 21,
 25,
 74,
 61,
 78,
 30,
 69,
 46,
 83,
 27,
 51,
 80,
 91,
 73,
 52,
 28,
 59,
 95,
 16,
 70,
 6,
 34,
 6,
 31,
 22,
 63,
 33,
 6,
 32,
 48,
 52,
 67,
 26,
 31,
 74,
 67,
 33,
 0,
 91,
 46,
 86,
 80,
 24,
 26,
 59,
 97,
 52,
 36,
 59,
 46,
 75,
 24,
 56,
 9,
 32,
 36,
 66,
 15,
 76,
 13,
 3,
 44,
 5,
 28,
 83,
 79,
 63,
 6,
 16,
 83,
 75,
 37,
 40,
 1,
 50,
 71,
 58,
 69,
 80,
 44,
 25,
 84,
 39,
 23,
 72,
 68,
 62,
 26,
 93,
 31,
 34,
 83,
 43,
 43,
 59,
 40,
 28,
 51,
 44,
 97,
 34,
 29,
 4,
 59,
 56,
 77,
 76,
 48,
 86,
 59,
 48,
 11,
 24,
 8,
 98,
 53,
 33,
 18,
 62,
 28,
 93,
 89,
 86,
 33,
 40,
 2,
 94,
 91,
 8,
 23,
 88,
 30,
 0,
 73,
 10,
 8,
 33,
 97,
 15,
 74,
 42,
 54,
 83,
 52,
 83,
 47,
 42,
 39,
 59,
 44,
 13,
 75,
 68,
 63,
 41,
 12,
 35,
 78,
 41,
 30,
 94,
 26,
 23,
 70,
 18,
 57,
 91,
 11,
 91,
 5,
 82,
 86,
 57,
 51,
 85,
 93,
 2,
 24,
 9,
 27,
 55,
 57,
 75,
 11,
 20,
 32,
 22,
 24,
 98,
 46,
 64,
 57,
 61,
 10,
 36,
 59,
 79,
 76,
 95,
 30,
 11,
 99,
 57,
 91,
 84,
 81,
 28,
 40,
 17,
 24,
 60,
 37,
 1,
 7,
 54,
 49,
 37,
 49,
 93,
 97,
 87,
 90,
 84,
 5,
 45,
 60,
 46,
 59,
 57,
 28,
 57,
 25,
 80,
 37,
 50,
 59,
 94,
 34,
 34,
 13,
 10,
 78,
 75,
 59,
 69,
 40,
 4,
 3,
 99,
 28,
 82,
 59,
 47,
 31,
 71,
 24,
 83,
 56,
 81,
 33,
 65,
 46,
 29,
 56,
 6,
 86,
 52,
 25,
 37,
 2,
 81,
 42,
 91,
 25,
 43,
 49,
 28,
 25,
 32,
 47,
 12,
 57,
 1,
 90,
 89,
 54,
 74,
 36,
 46,
 97,
 45,
 81,
 1,
 90,
 49,
 76,
 25,
 75,
 59,
 46,
 51,
 78,
 38,
 50,
 67,
 57,
 22,
 0,
 34,
 73,
 8,
 84,
 59,
 24,
 52,
 71,
 53,
 91,
 25,
 75,
 25,
 39,
 32,
 72,
 6,
 24,
 93,
 59,
 13,
 46,
 53,
 46,
 43,
 29,
 18,
 80,
 45,
 3,
 82,
 59,
 18,
 8,
 71,
 51,
 53,
 53,
 7,
 31,
 79,
 46,
 69,
 11,
 6,
 80,
 11,
 98,
 61,
 12,
 68,
 28,
 34,
 1,
 59,
 66,
 94,
 45,
 59,
 94,
 22,
 25,
 33,
 46,
 95,
 32,
 21,
 59,
 69,
 35,
 11,
 72,
 64,
 47,
 53,
 72,
 81,
 33,
 69,
 53,
 45,
 29,
 87,
 59,
 7,
 80,
 25,
 24,
 93,
 16,
 25,
 60,
 44,
 16,
 66,
 97,
 89,
 52,
 19,
 0,
 2,
 51,
 19,
 88,
 11,
 31,
 18,
 97,
 40,
 89,
 43,
 75,
 0,
 21,
 56,
 28,
 56,
 18,
 0,
 52,
 30,
 45,
 7,
 20,
 89,
 47,
 31,
 59,
 41,
 93,
 34,
 12,
 78,
 51,
 46,
 37,
 25,
 43,
 93,
 7,
 63,
 47,
 93,
 54,
 8,
 2,
 77,
 59,
 1,
 34,
 84,
 85,
 40,
 51,
 98,
 57,
 16,
 89,
 59,
 77,
 46,
 82,
 71,
 40,
 40,
 46,
 97,
 10,
 58,
 64,
 84,
 3,
 28,
 65,
 5,
 74,
 20,
 27,
 24,
 1,
 47,
 54,
 87,
 84,
 77,
 59,
 62,
 46,
 64,
 12,
 53,
 45,
 88,
 58,
 3,
 41,
 81,
 54,
 14,
 94,
 27,
 90,
 61,
 53,
 60,
 8,
 90,
 48,
 40,
 50,
 73,
 67,
 97,
 32,
 65,
 43,
 27,
 17,
 97,
 37,
 64,
 94,
 47,
 37,
 27,
 83,
 45,
 31,
 52,
 30,
 42,
 25,
 25,
 82,
 29,
 31,
 59,
 43,
 42,
 60,
 35,
 17,
 49,
 27,
 26,
 64,
 9,
 52,
 52,
 77,
 63,
 29,
 47,
 86,
 27,
 50,
 24,
 12,
 93,
 27,
 59,
 15,
 93,
 92,
 96,
 9,
 10,
 41,
 25,
 68,
 32,
 14,
 50,
 53,
 3,
 56,
 81,
 13,
 1,
 82,
 86,
 93,
 78,
 18,
 72,
 85,
 32,
 3,
 94,
 51,
 44,
 65,
 27,
 73,
 59,
 32,
 40,
 29,
 97,
 25,
 97,
 32,
 24,
 61,
 45,
 49,
 52,
 63,
 96,
 8,
 10,
 97,
 29,
 19,
 21,
 69,
 12,
 46,
 77,
 25,
 13,
 16,
 87,
 40,
 60,
 61,
 2,
 66,
 36,
 42,
 26,
 57,
 76,
 37,
 13,
 55,
 97,
 36,
 76,
 97,
 73,
 0,
 85,
 66,
 34,
 25,
 92,
 41,
 44,
 36,
 98,
 45,
 91,
 51,
 3,
 93,
 32,
 84,
 87,
 67,
 25,
 87,
 61,
 13,
 26,
 27,
 96,
 54,
 3,
 35,
 61,
 51,
 83,
 51,
 87,
 25,
 94,
 72,
 79,
 26,
 43,
 28,
 40,
 88,
 69,
 26,
 93,
 37,
 23,
 25,
 1,
 75,
 25,
 46,
 14,
 18,
 90,
 47,
 76,
 1,
 6,
 6,
 97,
 68,
 43,
 77,
 21,
 97,
 2,
 96,
 36,
 6,
 77,
 87,
 49,
 30,
 12,
 22,
 53,
 32,
 21,
 13,
 12,
 82,
 53,
 17,
 37,
 5,
 95,
 41,
 55,
 69,
 54,
 74,
 84,
 77,
 31,
 59,
 23,
 28,
 43,
 95,
 24,
 52,
 77,
 49,
 ...]

In [6]:
maciek_docs = maciek_docs.tolist()

In [9]:
import json

with open(repo_path / 'data/labels_mapping.json', 'r') as f:
    mapping = json.load(f)

In [27]:
c = 0

for m in mapping:
    
    if len(m) > 1:
        c += 1

In [28]:
c

33396

In [29]:
mapped_labels = [maciek_labels[m[0]] for m in mapping]

In [32]:
tweets['Topic'] = mapped_labels

In [33]:
tweets.rename(columns={'emotion': 'b24_emotion'}, inplace=True)

emotions = pd.read_pickle('/home/krajda/anticipatio/data/emotions.pkl')

In [34]:
tweets = tweets.reset_index()
tweets['id'] = tweets.index
emotions['id'] = emotions.index

tweets = tweets.join(emotions.set_index('id'), on='id')

In [35]:
agg = tweets.groupby('Topic').mean().drop(columns=['id', 'index'])

In [70]:
agg

,sadness,disgust,anger,pessimism,fear,anticipation,surprise,joy,optimism,love,trust
Topic,,,,,,,,,,,
0,0.095987,0.141452,0.129143,0.053873,0.075708,0.429609,0.086598,0.508406,0.473497,0.088471,0.122304
1,0.097344,0.142946,0.130451,0.054166,0.073885,0.429430,0.087059,0.508743,0.473417,0.090189,0.123260
2,0.098241,0.143166,0.130882,0.054149,0.075918,0.430448,0.086806,0.502735,0.472931,0.087960,0.121895
3,0.096948,0.146060,0.133718,0.053755,0.074449,0.428688,0.086623,0.505320,0.467507,0.086453,0.121800
4,0.098111,0.143248,0.130306,0.055020,0.076126,0.430150,0.087068,0.504335,0.473110,0.087553,0.122776
...,...,...,...,...,...,...,...,...,...,...,...
95,0.097636,0.144270,0.131918,0.054181,0.073345,0.428977,0.086424,0.503757,0.472814,0.087058,0.122578
96,0.094765,0.144439,0.132261,0.053010,0.074281,0.430692,0.086527,0.508169,0.471663,0.090012,0.122310
97,0.094923,0.142620,0.130936,0.054089,0.076335,0.433905,0.087624,0.511982,0.476413,0.090519,0.124604
98,0.100380,0.146626,0.133298,0.055705,0.076952,0.427979,0.086781,0.504300,0.470572,0.088422,0.122240
99,0.094155,0.140109,0.128643,0.052884,0.073783,0.430706,0.086153,0.508194,0.479102,0.088772,0.125922

In [41]:
agg.to_csv(repo_path / 'data/to_paper/emotions_per_topic.csv')

In [91]:
anticipated_representatives = []

examples = 20

for n in range(100):
    x = tweets[tweets['Topic'] == n].nlargest(examples, ['anticipation'])[['anticipation', 'txt']]
    
    a = x['anticipation'].tolist()
    t = x['txt'].tolist()

    for i in range(examples):
        anticipated_representatives.append({'topic': n, 'anticipation': a[i], 'text': t[i]})
    
    
pd.DataFrame(anticipated_representatives).to_csv(repo_path / 'data/to_paper/anticipated_representatives.csv')

In [67]:
anticipated_representatives

    topic  anticipation                                               text
0       0      0.924846  Let me know if you're ever interested in out-o...
1       0      0.920147  Hey clive. Can you email me about a project idea?
2       0      0.918372  It will be interesting to see what the score i...
3       0      0.918061  Looking forward to seeing how Dune II reinvent...
4       0      0.914009     Now how about for a guest interview for a show
5       0      0.911984  Who would beat you more quickly in a game of c...
6       0      0.911572  Plenty of supply in the Bay Area. The question...
7       0      0.910785  AR will matter next Christmas. Wanna talk abou...
8       0      0.909462  I'm interested in joining as a trainer. Can an...
9       0      0.908846  Lucid piece Alex.  Can’t wait for the rest of ...
10      0      0.908151  I am ready! BTW, i invited you to connect with...
11      0      0.907686                       I'd like to read that story!
12      0      0.906945  The Deep Learning team is looking for interns,...
13      0      0.906885  What would you like me to write about in my ne...
14      0      0.906146  He is trying to live up to his name but this s...
15      0      0.905398  Hey Derek, trying to reach you to request perm...
16      0      0.904624  Which of my tech media friends want a scoop? J...
17      0      0.904491  Startup wants to store things in space for lat...
18      0      0.904300  Scotland is the latest country to announce a 4...
19      0      0.904022  hadn't spotted this -could be very interesting...

In [81]:
tweets['x'] = 1
topic_user = tweets[['Topic', 'user', 'x']].groupby(['Topic', 'user'], as_index=False)['x'].count().sort_values(by=['Topic','x'], ascending=False)

In [95]:
key_opinion_leaders = []

examples = 10

for n in range(100):
    x = topic_user[topic_user['Topic'] == n].nlargest(examples, ['x'])[['x', 'user']]
    
    a = x['x'].tolist()
    t = x['user'].tolist()

    for i in range(examples):
        key_opinion_leaders.append({'topic': n, 'tweets_count': a[i], 'user': t[i]})
        
    

pd.DataFrame(key_opinion_leaders).to_csv(repo_path / 'data/to_paper/key_opinion_leaders.csv')

In [87]:
topic_user[topic_user['user'] == '@EvanKirstel']['x'].sum()

77428

In [93]:
tweets['user'].value_counts(sort=True, ascending=False)[:10]

@EvanKirstel        77428
@digital_trans4m    37445
@psb_dc             36311
@KirkDBorne         33840
@jamesvgingerich    31682
@Ronald_vanLoon     30880
scobleizer          30244
@TechCrunch         29518
@ipfconline1        29341
@rwang0             26916
Name: user, dtype: int64

In [104]:
users_sum = topic_user.groupby('user')['x'].sum().reset_index()
users_sum.sort_values(by='x', ascending=False, inplace=True)
users_sum

                  user      x
23        @EvanKirstel  77428
128   @digital_trans4m  37445
209            @psb_dc  36311
46         @KirkDBorne  33840
153   @jamesvgingerich  31682
..                 ...    ...
40   @JesusSanSegundo       1
147        @ingliguori      1
361           localrat      1
6          @BigDataBRA      1
273       KevinABarnes      1

[419 rows x 2 columns]

In [105]:
topic_user['share'] = topic_user.apply(lambda x: x['x'] / users_sum[users_sum['user'] == x['user']]['x'].values[0], axis=1)

In [131]:
topic_user['user_sum'] = topic_user.apply(lambda x: users_sum[users_sum['user'] == x['user']]['x'].values[0], axis=1)

In [137]:
topic_user2 = topic_user[topic_user['user_sum'] > 10]

topic_user2.groupby('user')['share'].max().reset_index().sort_values(by='share', ascending=False)

                user     share
98       @bethnoveck  0.217391
125     @ericamarois  0.187500
317  futurprospicere  0.157895
369        rodfalcon  0.142857
121       @didiebon   0.133333
..               ...       ...
271   StephaniePride  0.019026
236             @wef  0.018743
289  bronwynwilliams  0.018591
274     Tiffani_Bova  0.018480
200       @randybias  0.017364

[389 rows x 2 columns]

In [134]:
topic_user2[topic_user['user'] == '@bethnoveck']

       Topic         user  x     share  user_sum
33034     99  @bethnoveck  1  0.043478        23
31709     95  @bethnoveck  1  0.043478        23
31378     94  @bethnoveck  1  0.043478        23
27694     83  @bethnoveck  1  0.043478        23
27024     81  @bethnoveck  1  0.043478        23
24754     74  @bethnoveck  1  0.043478        23
23137     69  @bethnoveck  1  0.043478        23
22815     68  @bethnoveck  1  0.043478        23
21472     64  @bethnoveck  2  0.086957        23
16486     49  @bethnoveck  1  0.043478        23
16168     48  @bethnoveck  1  0.043478        23
15822     47  @bethnoveck  1  0.043478        23
15122     45  @bethnoveck  3  0.130435        23
10776     32  @bethnoveck  1  0.043478        23
2140       6  @bethnoveck  1  0.043478        23
93         0  @bethnoveck  5  0.217391        23